
a {

	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {

	border: none;
	outline: none;
	background: none;
	cursor: pointer;

	&:hover {
		cursor: pointer;
	}
}

.block--button {
	border: none;
	outline: none;
	overflow: hidden;
	background-color: rgba(190,166,122,0.6);
	text-transform: uppercase;
	color: #fff;
	border: solid 1px $COLOR_GOLD;
	padding: 18px 30px;
	transition: background $HOVER_DURATION $SHOW_EASING;

	@include min-screen($BREAKPOINT_S){
		background: transparent;
		color: $COLOR_GOLD;
		&:hover {
			background-color: rgba(190,166,122,0.6);
		}
	}
}

.arrow-btn {
	outline: none;
	display: block;
	width: 55px;
	height: 28px;
	background-image: url("#{$url_prefix}/assets/img/arrow.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	transition: transform $HOVER_DURATION $SHOW_EASING, opacity $HOVER_DURATION $SHOW_EASING;
	opacity: 0.7;
	&.down {
		transform: translateX(-50%) rotate(-180deg);
	}
	@include min-screen($BREAKPOINT_M){
		&:hover {
			cursor:pointer;
			opacity: 0.9;
		}

	}
}

