
a {

	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {

	border: none;
	outline: none;
	background: none;
	cursor: pointer;

	&:hover {
		cursor: pointer;
	}
}

.block--button {
	border: none;
	outline: none;
	overflow: hidden;
	background: transparent;
	text-transform: uppercase;
	color: $COLOR_GOLD;
	border: solid 1px $COLOR_GOLD;
	padding: 18px 30px;
	transition: background $HOVER_DURATION $SHOW_EASING;

	@include min-screen($BREAKPOINT_S){

		&:hover {
			background-color: rgba(190,166,122,0.6);
		}
	}
}

