.main--header {
	@extend %lora-italic-font;
	@include font-size(42px, 1.5em);
	font-weight: normal;
	font-style: italic;
	@include min-screen($BREAKPOINT_S) {
		@include font-size(64px, 1.5em);
	}
}

.main--subtitle {
	@extend %lora-regular-font;
	@include font-size(18px, 1.5em);
	font-weight: normal;
	@include min-screen($BREAKPOINT_S) {
		@include font-size(22px, 1.5em);
	}
}

.body-font {
	@extend %lora-regular-font;
	@include font-size(15px, 1.3em);
	font-weight: normal;
	letter-spacing: 0.15px;
	@include min-screen($BREAKPOINT_S) {
		@include font-size(18px, 1.3em);
	}
}

.button--label {
	@extend %engravers-font;
	@include font-size(16px, 1em);
	font-weight: normal;
	text-transform: uppercase;
	@include min-screen($BREAKPOINT_S) {
		@include font-size(18px, 1em);
	}
}

.input--label {
	@extend %engravers-font;
	@include font-size(20px, 1em);
	font-weight: normal;
	text-transform: uppercase;
	@include min-screen($BREAKPOINT_S) {
		@include font-size(40px, 1em);
	}
}

.highlight-text {
	@extend %engravers-font;
	@include font-size(32px, .8em);
	font-weight: normal;
	text-transform: uppercase;
	&.medium {
		@include font-size(16px, .8em);
		letter-spacing: 0.25px;
	}
	&.small {
		@include font-size(14px, .8em);
		letter-spacing: 0.25px;
	}
	@include min-screen($BREAKPOINT_S) {
		@include font-size(40px, .8em);
		&.medium {
			@include font-size(20px, .8em);
		}
		&.small {
			@include font-size(18px, .8em);
		}
	}
}