.courvoisier-0917 {

	.map-component {
		position: relative;
		width: 100%;
		height: 100%;
		.searchbar-wrapper {
			position: relative;
			width: 100%;
			height: 42px;
			background-color: white;
			.search-icon {
				position: absolute;
				font-size: 24px;
				top: 9px;
				left: 9px;
				color: $COLOR_SOFT_GREY;
				@include min-screen($BREAKPOINT_S) {
					font-size: 45px;
					top: 15px;
					left: 32px;
				}
			}
			input {
				width: 100%;
				height: 42px;
				border: 0;
				border-radius: 0;
				padding: 15px 0;
				padding-left: 48px;

			}
			@include min-screen($BREAKPOINT_S) {
				height: 77px;
				input {
					height: 77px;
					padding-left: 115px;
				}
			}
		}
		.interactive-wrapper {
			position: relative;
			width: 100%;
			height: calc(100% - 42px);
			@include min-screen($BREAKPOINT_S) {
				height: calc(100% - 77px);
			}

		}
		.results-container {
			position: absolute;
			width: 100%;
			height: 210px;
  		background-color: rgba(255, 255, 255, 0.95);
  		bottom: 0;
			left: 0;
			padding: 15px 0;
			z-index: 1;
			@include min-screen($BREAKPOINT_S) {
				height: 250px;
				padding: 15px;
			}
			@include min-screen($BREAKPOINT_M) {
				width: 350px;
				height: 100%;
				// padding: 50px 65px 0 50px;
				padding: 50px 0 0;
				top: 0;
				bottom: auto;
				left: 0;
			}
			.hide-scroll {
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			.content {
				width: 100%;
				height: 100%;
				text-align: center;
				@include min-screen($BREAKPOINT_M) {
					position: absolute;
					top: 0;
					left: 0;
					text-align: left;
					overflow-y: auto;
					width: calc(100% + 20px);
				}
				.recipe-header {
					color: $COLOR_GOLD_DARK;
					padding: 0;
					&:after {
						display: block;
						content: "";
						width: 80px;
						height: 1px;
						background-color: $COLOR_GOLD;
						position: relative;
						left: 50%;
						margin: 15px 0 10px;
						margin-left: -40px;
					}
					@include min-screen($BREAKPOINT_S) {
						padding: 0 65px 0 50px;
					}
					@include min-screen($BREAKPOINT_M) {
						margin-bottom: 35px;
						&:after {
							display: none;
						}
					}
				}
				.results {
					width: 100%;
					@include min-screen($BREAKPOINT_M) {
						position: relative;
						width: 100%;
						max-width: 350px;
					}
				}
				.item {
					color: $COLOR_SOFT_BLACK;
					// padding: 0 65px 0 50px;
					padding: 15px 65px 0 50px;
					transition: background 0.5s ease-in-out;
					p {
						margin-bottom: 10px;
						span {
							display: block;
						}
					}
					.name {
					    display: inline-block;
					    padding-left: 30px;
  						position: relative;
						&:before {
							content: "";
							display: block;
							position: absolute;
							top: 2px;
							left: 0;
							width: 22px;
							height: 22px;
							background-image: url("#{$url_prefix}/assets/img/bar-icon.png");
							background-size: contain;
							background-position: center;
							background-repeat: no-repeat;
						}
						@include min-screen($BREAKPOINT_S) {
							padding-left: 35px;
							&:before {
								width: 25px;
								height: 25px;
								top: 3px;
							}
						}
					}
					.adress {
						margin-bottom: 20px;
					}
					.telephone,
					.timetable {
						display: none;
					}
					@include min-screen($BREAKPOINT_M) {
						&.highlight {
							@include fadeHex($COLOR_GOLD, 0.75)
						}
						&:after {
							content: "";
							display: block;
							width: 100%;
							height: 1px;
							position: relative;
							background-color: $COLOR_SOFT_BLACK;
							margin-bottom: 25px;
							opacity: 0.25;
						}
						&:last-child {
							padding-bottom: 25px;
							&:after {
								display: none;
							}
						}
					}
				}

				.map-arrow {
					position: absolute;
					top: 25%;
					padding: 5px;
					padding-top: 7px;
					z-index: 2;
					font-size: 42px;
					color: $COLOR_GOLD;
					&.slick-next {
						right: 0px;
					}
					&.slick-prev {
						left: 0px;
						transform: rotate(180deg);
					}
					@include min-screen($BREAKPOINT_S) {
						font-size: 58px;
						&.slick-next {
							right: 5%;
						}
						&.slick-prev {
							left: 5%;
						}
					}
				}
			}
		}
		.map-container {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			#map-canvas {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(100% + 20px); // Google logo & privacy policy hidden
				z-index: 0;
			}
		}

	}

}