.courvoisier-0917 {

	.recipe-slider {
		width: 100%;
		height: 100%;
		position: relative;

		.slider-wrapper {
			position: absolute;
			width: 100%;
			height: 100%;

			.slick-list,
			.slick-track {
				height: 100%;
			}

			.recipe-item {
				position: relative;
				width: 100%;
				height: 100%;
				.recipe-bg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					&.recipe-1 {
						background-image: url("http://baconmockup.com/1280/960");
					}
					&.recipe-2 {
						background-image: url("http://baconmockup.com/1280/960");
					}
				}
				.recipe-info {
					position: absolute;
					top: 15%;
					left: 0;
					// width: 75%;
					width: 280px;
					height: 40%;
					min-height: 285px;
					padding: 15px 15% 15px 30px;
					overflow: hidden;
					background-color: rgba(255,255,255,0.8);
					transition: height $SHOW_DURATION $SHOW_EASING;
					&.right-align {
						left: auto;
						right: 0;
					}
					&.open {
						height: 85%;
						.extra-info {
							visibility: visible;
							opacity: 1;
						}
					}

					.main-info {
						position: relative;
						.recipe-header {
							color: $COLOR_GOLD_LIGHT;
							margin-bottom: 5px;
						}
						.recipe-subtitle {
							color: $COLOR_GOLD_DARK;
							margin-bottom: 15px;
						}
						.recipe-description {
							color: $COLOR_SOFT_BLACK;
						}
					}
					.extra-info {
						visibility: hidden;
						opacity: 0;
						transition: visibility $SHOW_DURATION/2 $SHOW_EASING, opacity $SHOW_DURATION/2 $SHOW_EASING;
						.highlight-text {
							margin: 20px 0;
							@include min-screen($BREAKPOINT_S){
								margin: 30px 0;
							}
						}
					}

					@include min-screen($BREAKPOINT_S){
						width: 350px;
						left: 10%;
						padding: 50px 70px 50px 50px;
						&.right-align {
							left: auto;
							right: 10%;
						}
					}

					@include min-screen($BREAKPOINT_M){
						height: 100%;
						top: 0;
						.extra-info {
							visibility: visible;
							opacity: 1;
						}
						.arrow-btn {
							display: none;
						}
					}

					ul.recipe-list {
					    list-style: none; /* Remove list bullets */
					    padding: 0;
					    margin: 0;
					}

					li p {
						display: inline;
					}

					li:before {
					    content:"·";
					    padding-right: 8px;
					    color: $COLOR_SOFT_BLACK;
					}

				}
			}

			.slick-arrow {
				position: absolute;
				z-index: 2;
				top: 50%;
				margin-top: -34px;
				left: 0;
				&.slick-next {
					right: 0;
					left: auto;
				}
			}

			.slick-dots {
			    position: absolute;
			    bottom: 3px;
			    display: block;
			    width: 100%;
			    padding: 0;
			    list-style: none;
			    text-align: center;
			    li {
					    position: relative;
					    display: inline-block;
					    width: 20px;
					    height: 20px;
					    margin: 0;
					    padding: 0;
					    cursor: pointer;
					    button {
							    display: block;
							    width: 20px;
							    height: 20px;
							    padding: 5px;
							    cursor: pointer;
							    color: transparent;
							    border: 0;
							    outline: none;
							    background: transparent;
							    &:before {
								    position: absolute;
								    top: 5px;
								    left: 5px;
								    width: 10px;
								    height: 10px;
								    content: "";
								    display: block;
								    opacity: 0.7;
								    background-color: $COLOR_WHITE;
								    border-radius: 50%;
								    transition: opacity $SHOW_DURATION/2 $SHOW_EASING;
								}
							}
							&.slick-active {
								button:before {
									opacity: 1;
								}
							}
					}
			}

		}
	}

}