.courvoisier-0917 {

	.recipe-slider {
		width: 100%;
		height: 100%;
		position: relative;

		.slider-wrapper {
			position: absolute;
			width: 100%;
			height: 100%;

			.slick-list,
			.slick-track {
				height: 100%;
			}

			.recipe-item {
				position: relative;
				width: 100%;
				height: 100%;

				.recipe-video {
						position: relative;
						width: 100%;
						height: 100%;
						overflow: hidden;
						z-index: 1;
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						&.ontop {
							z-index: 10;
						}
						&.recipe1 {
							background-image: url("/assets/img/cafe_play.jpg");
						}
						&.recipe2 {
							background-image: url("/assets/img/espresso_play.jpg");
						}

						.video-full {
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							display: none;
							z-index: 999;
							@include min-screen($BREAKPOINT_M){
								display: block;
								position: absolute;
							  width: calc(100% - 350px);
    						height: 100%;
    				// 		top: 50%;
								// left: 50%;
    				// 		transform: translate(-50%,-50%);
    					}
						}
						.controls {
							position: absolute;
							left: 0;
							bottom: 0;
							width: 120px;
							height: 60px;
							// color: $COLOR_GOLD;
							color: white;
							z-index: 999;
							display: none;
							@include min-screen($BREAKPOINT_M){
								display: block;
							}
							div {
								display: inline-block;
								width: 40px;
								height: 40px;
								padding: 8px;
								overflow: hidden;
								position: relative;
								top: 10px;
								cursor: pointer;
								span {
									position: absolute;
									top: 8px;
									left: 8px;
									cursor: pointer;
									&.hide {
										display: none;
									}
								}
								&.state-control {
									left: 10px;
									.icon-play3 {
											display: none;
										}
										.icon-pause2 {
											display: block;
										}
									&.playing {
										.icon-play3 {
											display: block;
										}
										.icon-pause2 {
											display: none;
										}
									}
								}
								&.vol-control {
									left: 25px;
									.vol-on {
										display: block;
									}
									.vol-off {
										display: none;
									}
									&.muted {
										.vol-on {
											display: none;
										}
										.vol-off {
											display: block;
										}
									}
								}

							}
							span {
								font-size: 24px;
							}
						}
				}
				.recipe-info {
					position: absolute;
					top: 15%;
					left: 0;
					z-index: 9;
					// width: 75%;
					width: 280px;
					height: 40%;
					min-height: 285px;
					padding: 15px 15% 15px 30px;
					overflow: hidden;
					background-color: rgba(255,255,255,0.8);
					transition: height $SHOW_DURATION $SHOW_EASING;
					@include min-screen($BREAKPOINT_S){
					  min-height: 350px;
					}
					&.right-align {
						left: auto;
						right: 0;
					}
					&.open {
						height: 85%;
						.extra-info {
							visibility: visible;
							opacity: 1;
						}
					}

					.main-info {
						position: relative;
						.recipe-header {
							color: $COLOR_GOLD_LIGHT;
							margin-bottom: 5px;
						}
						.recipe-subtitle {
							color: $COLOR_GOLD_DARK;
							margin-bottom: 15px;
						}
						.recipe-description {
							color: $COLOR_SOFT_BLACK;
						}
					}
					.extra-info {
						visibility: hidden;
						opacity: 0;
						transition: visibility $SHOW_DURATION/2 $SHOW_EASING, opacity $SHOW_DURATION/2 $SHOW_EASING;
						.highlight-text {
							margin: 20px 0;
							@include min-screen($BREAKPOINT_S){
								margin: 30px 0;
							}
						}
					}

					@include min-screen($BREAKPOINT_S){
						width: 350px;
						left: 10%;
						padding: 50px 70px 50px 50px;
						&.right-align {
							left: auto;
							right: 10%;
						}
					}

					@include min-screen($BREAKPOINT_M){
						height: 100%;
						top: 0;
						&.right-align {
							right: 0;
						}
						.extra-info {
							visibility: visible;
							opacity: 1;
						}
						.arrow-btn {
							display: none;
						}
					}

					ul.recipe-list {
					    list-style: none; /* Remove list bullets */
					    padding: 0;
					    margin: 0;
					}

					li p {
						display: inline;
					}

					li:before {
					    content:"·";
					    padding-right: 8px;
					    color: $COLOR_SOFT_BLACK;
					}

				}
			}

			.slick-dots {
			    position: absolute;
			    bottom: 3px;
			    display: block;
			    width: 100%;
			    padding: 0;
			    list-style: none;
			    text-align: center;
			    li {
					    position: relative;
					    display: inline-block;
					    width: 20px;
					    height: 20px;
					    margin: 0;
					    padding: 0;
					    cursor: pointer;
					    button {
							    display: block;
							    width: 20px;
							    height: 20px;
							    padding: 5px;
							    cursor: pointer;
							    color: transparent;
							    border: 0;
							    outline: none;
							    background: transparent;
							    &:before {
								    position: absolute;
								    top: 5px;
								    left: 5px;
								    width: 10px;
								    height: 10px;
								    content: "";
								    display: block;
								    opacity: 0.7;
								    background-color: $COLOR_WHITE;
								    border-radius: 50%;
								    transition: opacity $SHOW_DURATION/2 $SHOW_EASING;
								}
							}
							&.slick-active {
								button:before {
									opacity: 1;
								}
							}
					}
			}

		}
	}

}