html,
body {
  margin: 0;
  padding: 0;
}
*, button {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul, li {
  @include removeSpace;
}

::-moz-selection {
  background: rgba($DEFAULT_LINK_COLOR, 0.3);
}

::selection {
  background: rgba($DEFAULT_LINK_COLOR, 0.3);
}

h1, h2, h3, h4, h5, h6 {
  @include removeSpace;

  display: inline-block;
  position: relative;
}

p {

  @include removeSpace;
}

.upper-reg {
  position: relative;
  font-size: 16px;
  top: -10px;
}

.no-break {
  white-space: nowrap;
}

.courvoisier-0917 {
  width: 100%;
  overflow-x: hidden;
  section {
    position: relative;
    min-height: 640px;
    @include min-screen($BREAKPOINT_S){
      min-height: 825px;
    }
    @include min-screen($BREAKPOINT_M){
      min-height: 670px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -3px;
      left: -5%;
      width: 110%;
      height: 0;
      border-bottom: 3px solid transparent;
      border-image: url("#{$url_prefix}/assets//img/gold-line-separator.png") 100% 0 stretch;
      z-index: 10;
    }
  }

  .continue-scroll {
    position: absolute;
    z-index: 99;
    padding: 2px;
    text-align: center;
    text-shadow: 1px 1px 2px #333;
    left: 50%;
    width: 80px;
    margin-left: -40px;
    bottom: 10px;

    p.scroll-label {
      color: #f4f4f4;
      position: relative;
      font-size: 20px;
      @extend %lora-italic-font;

      top: -45px;
      padding: 5px 0px;
    }

    &:hover {
      cursor: pointer;
      p.scroll-label {
        color: #fff;
        text-shadow: 0px 0px 15px #bd9749;
      }
    }

    .arrows {
        width: 30px;
        height: 40px;
        position: absolute;
        left: 50%;
        margin-left: -15px;
        bottom: 0;

        path {
            stroke: #bd9749;
            fill: transparent;
            stroke-width: 1.5px;
            animation: arrow 2s infinite;
            &.a1 {
              animation-delay: -1s;
            }
            &.a2 {
              animation-delay: -0.5s;
            }
        }
    }

  }

  @keyframes arrow {

    0% { opacity: 0; }
    40% { opacity: 1; }
    80% { opacity: 0; }
    100% { opacity: 0; }

  }

}


// line breaks
br.mobile {
  display: none;

  @include max-screen($BREAKPOINT_S) {

    display: block;
  }
}

br.not-mobile {
  display: none;

  @include min-screen($BREAKPOINT_S) {

    display: block;
  }
}

br.xs-small {
  display: none;

  @include max-screen($BREAKPOINT_XS) {

    display: block;
  }
}

.general-arrow {
    position: absolute;
    z-index: 9;
    top: 50%;
    margin-top: -40px;
    display: none!important;
    background: transparent!important;
    background-image: none;

    &.slick-prev {
      left: 10px;
      transform: rotate(180deg);
    }
    &.slick-next {
      right: 10px;
    }

    .arrow {
      font-size: 80px;
      color: $COLOR_WHITE;
      opacity: 0.75;
      transition: opacity $HOVER_DURATION $SHOW_EASING;
      &:hover {
        opacity: 0.95;
      }
    }
    @include min-screen($BREAKPOINT_M) {
      display: block!important;
    }
}





