/*
@mixin bodyShiftTransition {
  @include transition(transform 0.5s $easeOutExpo);
}

@mixin simpleHoverTransition {
  @include transition(all 0.3s $easeOutSine);
}

@mixin itemShowSetup($delay:0s, $shift:0px, $duration:0.5s){

  .desktop & {

    @include itemShowSetupStyles($delay, $shift, $duration);
  }
}

@mixin itemShowSetupStyles($delay:0s, $shift:0px, $duration:0.5s) {

  @include transform(translate(0, $shift));
  opacity: 0;

  @include transition(
    transform $duration $SHOW_EASING $delay,
    opacity $duration $SHOW_EASING $delay
  );
}

@mixin itemShowDo {

  .desktop & {

    @include itemShowDoStyles;
  }
}

@mixin itemShowDoStyles {

  @include transform(translate(0, 0px));
  opacity: 1;
}

@mixin ellipsis {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/
@font-face {
  font-family: 'engravers_gothicregular';
  src: url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.eot");
  src: url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.eot?#iefix") format("embedded-opentype"), url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.woff2") format("woff2"), url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.woff") format("woff"), url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.ttf") format("truetype"), url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.svg#engravers_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lora_italic';
  src: url("http://local.courvoisier.com/assets/fonts/Lora-Italic.eot");
  src: url("http://local.courvoisier.com/assets/fonts/Lora-Italic.eot?#iefix") format("embedded-opentype"), url("http://local.courvoisier.com/assets/fonts/Lora-Italic.woff2") format("woff2"), url("http://local.courvoisier.com/assets/fonts/Lora-Italic.woff") format("woff"), url("http://local.courvoisier.com/assets/fonts/Lora-Italic.ttf") format("truetype"), url("http://local.courvoisier.com/assets/fonts/Lora-Italic.svg#Lora-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Lora_regular';
  src: url("http://local.courvoisier.com/assets/fonts/Lora-Regular.eot");
  src: url("http://local.courvoisier.com/assets/fonts/Lora-Regular.eot?#iefix") format("embedded-opentype"), url("http://local.courvoisier.com/assets/fonts/Lora-Regular.woff2") format("woff2"), url("http://local.courvoisier.com/assets/fonts/Lora-Regular.woff") format("woff"), url("http://local.courvoisier.com/assets/fonts/Lora-Regular.ttf") format("truetype"), url("http://local.courvoisier.com/assets/fonts/Lora-Regular.svg#Lora-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

.main--subtitle {
  font-family: 'Lora_regular', Helvetica, Times;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.main--header {
  font-family: 'Lora_italic', Helvetica, Times;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.body-font, .button--label {
  font-family: 'engravers_gothicregular', Helvetica, Times;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.main--header {
  font-size: 42px;
  line-height: 1.5em;
  font-weight: normal; }
  @media screen and (min-width: 640px) {
    .main--header {
      font-size: 64px;
      line-height: 1.5em; } }

.main--subtitle {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: normal; }
  @media screen and (min-width: 640px) {
    .main--subtitle {
      font-size: 22px;
      line-height: 1.5em; } }

.body-font {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal; }

.button--label {
  font-size: 16px;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    .button--label {
      font-size: 18px;
      line-height: 1em; } }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer; }
  button:hover {
    cursor: pointer; }

.block--button {
  border: none;
  outline: none;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  color: #D3AC6B;
  border: solid 1px #D3AC6B;
  padding: 18px 30px;
  -webkit-transition: background 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  @media screen and (min-width: 640px) {
    .block--button:hover {
      background-color: rgba(190, 166, 122, 0.6); } }

html,
body {
  margin: 0;
  padding: 0; }

*, button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none; }

ul, li {
  margin: 0;
  padding: 0; }

::-moz-selection {
  background: rgba(255, 255, 255, 0.3); }

::selection {
  background: rgba(255, 255, 255, 0.3); }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative; }

p {
  margin: 0;
  padding: 0; }

.no-break {
  white-space: nowrap; }

section {
  position: relative; }
  section:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 3px solid transparent;
    -o-border-image: url("http://local.courvoisier.com/assets//img/gold-line-separator.png") 100% 0 stretch;
       border-image: url("http://local.courvoisier.com/assets//img/gold-line-separator.png") 100% 0 stretch; }

br.mobile {
  display: none; }
  @media screen and (max-width: 640px) {
    br.mobile {
      display: block; } }

br.not-mobile {
  display: none; }
  @media screen and (min-width: 640px) {
    br.not-mobile {
      display: block; } }

br.xs-small {
  display: none; }
  @media screen and (max-width: 440px) {
    br.xs-small {
      display: block; } }

.courvoisier-0917 section.marquee {
  background-image: url("http://baconmockup.com/1280/960");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .courvoisier-0917 section.marquee .header-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 10%;
    color: #FFFFFF; }
    .courvoisier-0917 section.marquee .header-wrapper .main--header {
      display: block;
      margin-bottom: 15px; }
    .courvoisier-0917 section.marquee .header-wrapper .main--subtitle {
      display: block;
      margin-bottom: 30px; }
