@charset "UTF-8";
/*
@mixin bodyShiftTransition {
  @include transition(transform 0.5s $easeOutExpo);
}

@mixin simpleHoverTransition {
  @include transition(all 0.3s $easeOutSine);
}

@mixin itemShowSetup($delay:0s, $shift:0px, $duration:0.5s){

  .desktop & {

    @include itemShowSetupStyles($delay, $shift, $duration);
  }
}

@mixin itemShowSetupStyles($delay:0s, $shift:0px, $duration:0.5s) {

  @include transform(translate(0, $shift));
  opacity: 0;

  @include transition(
    transform $duration $SHOW_EASING $delay,
    opacity $duration $SHOW_EASING $delay
  );
}

@mixin itemShowDo {

  .desktop & {

    @include itemShowDoStyles;
  }
}

@mixin itemShowDoStyles {

  @include transform(translate(0, 0px));
  opacity: 1;
}

@mixin ellipsis {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

@font-face {
  font-family: 'engravers_gothicregular';
  src: url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.eot");
  src: url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.eot?#iefix") format("embedded-opentype"), url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.woff2") format("woff2"), url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.woff") format("woff"), url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.ttf") format("truetype"), url("http://local.courvoisier.com/assets/fonts/engravers__gothic-webfont.svg#engravers_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lora_italic';
  src: url("http://local.courvoisier.com/assets/fonts/Lora-Italic.eot");
  src: url("http://local.courvoisier.com/assets/fonts/Lora-Italic.eot?#iefix") format("embedded-opentype"), url("http://local.courvoisier.com/assets/fonts/Lora-Italic.woff2") format("woff2"), url("http://local.courvoisier.com/assets/fonts/Lora-Italic.woff") format("woff"), url("http://local.courvoisier.com/assets/fonts/Lora-Italic.ttf") format("truetype"), url("http://local.courvoisier.com/assets/fonts/Lora-Italic.svg#Lora-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Lora_regular';
  src: url("http://local.courvoisier.com/assets/fonts/Lora-Regular.eot");
  src: url("http://local.courvoisier.com/assets/fonts/Lora-Regular.eot?#iefix") format("embedded-opentype"), url("http://local.courvoisier.com/assets/fonts/Lora-Regular.woff2") format("woff2"), url("http://local.courvoisier.com/assets/fonts/Lora-Regular.woff") format("woff"), url("http://local.courvoisier.com/assets/fonts/Lora-Regular.ttf") format("truetype"), url("http://local.courvoisier.com/assets/fonts/Lora-Regular.svg#Lora-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

.main--subtitle, .body-font {
  font-family: 'Lora_regular', Helvetica, Times;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.main--header {
  font-family: 'Lora_italic', 'Lora_regular', Times;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.button--label, .input--label, .highlight-text {
  font-family: 'engravers_gothicregular', Helvetica, Times;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.main--header {
  font-size: 42px;
  line-height: 1.5em;
  font-weight: normal;
  font-style: italic; }
  @media screen and (min-width: 640px) {
    .main--header {
      font-size: 64px;
      line-height: 1.5em; } }

.main--subtitle {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: normal; }
  @media screen and (min-width: 640px) {
    .main--subtitle {
      font-size: 22px;
      line-height: 1.5em; } }

.body-font {
  font-size: 15px;
  line-height: 1.3em;
  font-weight: normal;
  letter-spacing: 0.15px; }
  @media screen and (min-width: 640px) {
    .body-font {
      font-size: 18px;
      line-height: 1.3em; } }

.button--label {
  font-size: 16px;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    .button--label {
      font-size: 18px;
      line-height: 1em; } }

.input--label {
  font-size: 20px;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    .input--label {
      font-size: 40px;
      line-height: 1em; } }

.highlight-text {
  font-size: 32px;
  line-height: 0.8em;
  font-weight: normal;
  text-transform: uppercase; }
  .highlight-text.medium {
    font-size: 16px;
    line-height: 0.8em;
    letter-spacing: 0.25px; }
  .highlight-text.small {
    font-size: 14px;
    line-height: 0.8em;
    letter-spacing: 0.25px; }
  @media screen and (min-width: 640px) {
    .highlight-text {
      font-size: 40px;
      line-height: 0.8em; }
      .highlight-text.medium {
        font-size: 20px;
        line-height: 0.8em; }
      .highlight-text.small {
        font-size: 18px;
        line-height: 0.8em; } }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer; }
  button:hover {
    cursor: pointer; }

.block--button {
  border: none;
  outline: none;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  color: #D3AC6B;
  border: solid 1px #D3AC6B;
  padding: 18px 30px;
  -webkit-transition: background 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  @media screen and (min-width: 640px) {
    .block--button:hover {
      background-color: rgba(190, 166, 122, 0.6); } }

.arrow-btn {
  outline: none;
  display: block;
  width: 55px;
  height: 28px;
  background-image: url("http://local.courvoisier.com/assets/img/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0.7; }
  .arrow-btn.down {
    -webkit-transform: translateX(-50%) rotate(-180deg);
            transform: translateX(-50%) rotate(-180deg); }
  @media screen and (min-width: 960px) {
    .arrow-btn:hover {
      cursor: pointer;
      opacity: 0.9; } }

html,
body {
  margin: 0;
  padding: 0; }

*, button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none; }

ul, li {
  margin: 0;
  padding: 0; }

::-moz-selection {
  background: rgba(255, 255, 255, 0.3); }

::selection {
  background: rgba(255, 255, 255, 0.3); }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative; }

p {
  margin: 0;
  padding: 0; }

.upper-reg {
  position: relative;
  font-size: 16px;
  top: -10px; }

.no-break {
  white-space: nowrap; }

.courvoisier-0917 {
  width: 100%;
  overflow-x: hidden; }
  .courvoisier-0917 section {
    position: relative;
    min-height: 640px; }
    .courvoisier-0917 section:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: -5%;
      width: 110%;
      height: 0;
      border-bottom: 3px solid transparent;
      -o-border-image: url("http://local.courvoisier.com/assets//img/gold-line-separator.png") 100% 0 stretch;
         border-image: url("http://local.courvoisier.com/assets//img/gold-line-separator.png") 100% 0 stretch; }

br.mobile {
  display: none; }
  @media screen and (max-width: 640px) {
    br.mobile {
      display: block; } }

br.not-mobile {
  display: none; }
  @media screen and (min-width: 640px) {
    br.not-mobile {
      display: block; } }

br.xs-small {
  display: none; }
  @media screen and (max-width: 440px) {
    br.xs-small {
      display: block; } }

.courvoisier-0917 .recipe-slider {
  width: 100%;
  height: 100%;
  position: relative; }
  .courvoisier-0917 .recipe-slider .slider-wrapper {
    position: absolute;
    width: 100%;
    height: 100%; }
    .courvoisier-0917 .recipe-slider .slider-wrapper .slick-list,
    .courvoisier-0917 .recipe-slider .slider-wrapper .slick-track {
      height: 100%; }
    .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item {
      position: relative;
      width: 100%;
      height: 100%; }
      .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-bg.recipe-1 {
          background-image: url("http://baconmockup.com/1280/960"); }
        .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-bg.recipe-2 {
          background-image: url("http://baconmockup.com/1280/960"); }
      .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info {
        position: absolute;
        top: 15%;
        left: 0;
        width: 280px;
        height: 40%;
        min-height: 285px;
        padding: 15px 15% 15px 30px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-transition: height 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: height 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
        .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info.right-align {
          left: auto;
          right: 0; }
        .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info.open {
          height: 85%; }
          .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info.open .extra-info {
            visibility: visible;
            opacity: 1; }
        .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info .main-info {
          position: relative; }
          .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info .main-info .recipe-header {
            color: #be9b45;
            margin-bottom: 5px; }
          .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info .main-info .recipe-subtitle {
            color: #93752f;
            margin-bottom: 15px; }
          .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info .main-info .recipe-description {
            color: #2e2e2e; }
        .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info .extra-info {
          visibility: hidden;
          opacity: 0;
          -webkit-transition: visibility 0.175s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.175s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: visibility 0.175s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.175s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
          .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info .extra-info .highlight-text {
            margin: 20px 0; }
            @media screen and (min-width: 640px) {
              .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info .extra-info .highlight-text {
                margin: 30px 0; } }
        @media screen and (min-width: 640px) {
          .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info {
            width: 350px;
            left: 10%;
            padding: 50px 70px 50px 50px; }
            .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info.right-align {
              left: auto;
              right: 10%; } }
        @media screen and (min-width: 960px) {
          .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info {
            height: 100%;
            top: 0; }
            .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info .extra-info {
              visibility: visible;
              opacity: 1; }
            .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info .arrow-btn {
              display: none; } }
        .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info ul.recipe-list {
          list-style: none;
          /* Remove list bullets */
          padding: 0;
          margin: 0; }
        .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info li p {
          display: inline; }
        .courvoisier-0917 .recipe-slider .slider-wrapper .recipe-item .recipe-info li:before {
          content: "·";
          padding-right: 8px;
          color: #2e2e2e; }
    .courvoisier-0917 .recipe-slider .slider-wrapper .slick-arrow {
      position: absolute;
      z-index: 2;
      top: 50%;
      margin-top: -34px;
      left: 0; }
      .courvoisier-0917 .recipe-slider .slider-wrapper .slick-arrow.slick-next {
        right: 0;
        left: auto; }
    .courvoisier-0917 .recipe-slider .slider-wrapper .slick-dots {
      position: absolute;
      bottom: 3px;
      display: block;
      width: 100%;
      padding: 0;
      list-style: none;
      text-align: center; }
      .courvoisier-0917 .recipe-slider .slider-wrapper .slick-dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        cursor: pointer; }
        .courvoisier-0917 .recipe-slider .slider-wrapper .slick-dots li button {
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent; }
          .courvoisier-0917 .recipe-slider .slider-wrapper .slick-dots li button:before {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            content: "";
            display: block;
            opacity: 0.7;
            background-color: #FFFFFF;
            border-radius: 50%;
            -webkit-transition: opacity 0.175s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: opacity 0.175s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
        .courvoisier-0917 .recipe-slider .slider-wrapper .slick-dots li.slick-active button:before {
          opacity: 1; }

.courvoisier-0917 .map-component {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: pink; }
  .courvoisier-0917 .map-component .controls {
    position: relative;
    width: 100%;
    height: 42px;
    background-color: white; }
  .courvoisier-0917 .map-component #map-canvas {
    width: 100%;
    height: calc(100% - 42px);
    background-color: grey; }

.courvoisier-0917 section.marquee {
  background-image: url("http://baconmockup.com/1280/960");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .courvoisier-0917 section.marquee .header-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 10%;
    color: #FFFFFF; }
    .courvoisier-0917 section.marquee .header-wrapper .main--header {
      display: block;
      margin-bottom: 15px; }
    .courvoisier-0917 section.marquee .header-wrapper .main--subtitle {
      display: block;
      margin-bottom: 30px; }
